{{define "body"}}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Mail Service</title>
</head>
<body>
    <p>Hi {{.message}}</p>
</body>
</html>
{{end}}